doctype html
html(lang="en" dir="ltr")
  
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
      
    title Prism - Test example
    
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,900')
    link(rel='stylesheet' type='text/css' href='./dist/css/prim.css')
    
    
  body
    
    .container.fill-height
      
      .row.fill-height
        .col-12.flex.align-center
          
          .col-12.l-86.w-bold PRIM
          .col-12.l-36 Test example
