doctype html
html(lang="en" dir="ltr")
  
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
      
    title Prism - Test example
    
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,900')
    link(rel='stylesheet' type='text/css' href='./dist/css/prim.css')
    
    
  body
    
    .container.fill-screen
      
      .row-fill
        
      .row
        .col-12
          span.l-16.w-bold PRIM
          br
          span.l-30 Test example
          
      .row-fill
