//----------------------------------------------------------------
//::::::::::::::::::::::::      GRID      ::::::::::::::::::::::::
//----------------------------------------------------------------

//-----------------------
//::::  Row spacing  ::::
//-----------------------
.container.spacing

  @each $item in $spacers
    $key: "" + nth($item, 1)

    &-#{$key} > .row + .row
      margin-top: calc(var(--spacing-#{$key}) * 2)


//--------------------------
//::::  Column spacing  ::::
//--------------------------
*[class*="spacing-"]
  width: calc(100% + var(--col-spacing)) !important
  flex-basis: calc(100% + var(--col-spacing)) !important
  max-width: calc(1000px + var(--col-spacing)) !important
  margin-top: calc(-1 * var(--col-spacing))
  margin-left: calc(-1 * var(--col-spacing)) !important
  position: relative
  right: calc(-1 * var(--col-spacing))

  &.full-row
    max-width: calc(100% + var(--col-spacing)) !important

  & > *
    margin-top: var(--col-spacing)
    margin-right: var(--col-spacing)

    & > *
      --col-spacing: 0px

.spacing
  @each $item in $spacers
    $key: "" + nth($item, 1)
    $value: nth($item, 2)

    &-#{$key}
      --col-spacing: #{$value} !important


  //-------------------------------------
  //::::  Responsive column spacing  ::::
  //-------------------------------------
  @each $breakpoint in $breakpoints
    $bp: "" + nth($breakpoint, 1)

    @media only screen and (min-width: nth($breakpoint, 2))
      @each $item in $spacers
        $key: "" + nth($item, 1)
        $value: nth($item, 2)

        &-#{$bp}-#{$key}
          --col-spacing: #{$value} !important

//----------------------------------------------------------------
//::::::::::::::::::::::::      </>       ::::::::::::::::::::::::
//----------------------------------------------------------------
