//----------------------------------------------------------------
//::::::::::::::::::::::::   VARIABLES    ::::::::::::::::::::::::
//----------------------------------------------------------------

//-----------------------
//::::  Breakpoints  ::::
//-----------------------
$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1264px;
$breakpoint-xl: 1904px;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
);


//-------------------
//::::  Spacing  ::::
//-------------------
$spacer-base: 16px;

$spacing-0: 0;
$spacing-1: $spacer-base / 4;
$spacing-2: $spacer-base / 2;
$spacing-3: $spacer-base;
$spacing-4: $spacer-base * 1.5;
$spacing-5: $spacer-base * 3;

$spacers: (
  0: $spacing-0,
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5
);


//----------------
//::::  Font  ::::
//----------------
$default-font-size: 16px;


//-----------------------
//::::  Main colors  ::::
//-----------------------
$color-red: #F33;
$color-orange: #F83;
$color-yellow: #EC3;
$color-lime: #8D3;
$color-green: #3C5;
$color-cyan: #2CA;
$color-blue: #29F;
$color-sapphire: #25F;
$color-purple: #72F;
$color-fuchsia: #E39;

$colors: (
  red: $color-red,
  orange: $color-orange,
  yellow: $color-yellow,
  lime: $color-lime,
  green: $color-green,
  cyan: $color-cyan,
  blue: $color-blue,
  sapphire: $color-sapphire,
  purple: $color-purple,
  fuchsia: $color-fuchsia
);


//------------------------
//::::  Color shades  ::::
//------------------------
$color-shade-black: #000;
$color-shade-dark: #111;
$color-shade-white: #FFF;
$color-shade-light: #DDD;

$color-shades: (
  black: $color-shade-black,
  dark: $color-shade-dark,
  white: $color-shade-white,
  light: $color-shade-light,
);


//--------------------------
//::::  Color neutrals  ::::
//--------------------------
$color-neutral-gray: #AAA;
$color-neutral-bluegray: #578;

$color-neutrals: (
  gray: $color-neutral-gray,
  bluegray: $color-neutral-bluegray
);


//---------------------------
//::::  Color variables  ::::
//---------------------------
$color-custom-primary: '--color-blue';
$color-custom-secondary: '--color-red';
$color-custom-accent: '--color-yellow';

$color-customs: (
  primary: $color-custom-primary,
  secondary: $color-custom-secondary,
  accent: $color-custom-accent
);


//------------------
//::::  Ratios  ::::
//------------------

$ratios: (
  "1": 1,
  "4-3": 4/3,
  "3-4": 3/4,
  "16-9": 16/9,
  "9-16": 9/16
);

//----------------------------------------------------------------
//::::::::::::::::::::::::      </>       ::::::::::::::::::::::::
//----------------------------------------------------------------
