//----------------------------------------------------------------
//::::::::::::::::::::::::   Background   ::::::::::::::::::::::::
//----------------------------------------------------------------

.bg

  //------------------------
  //::::  Basic colors  ::::
  //------------------------
  @each $item in $basic-colors
    $key: "" + nth($item, 1)
    $value: nth($item, 2)

    &-#{$key}
      background-color: var(--color-#{$key}) !important

      @for $index from 1 through 4
        &-l#{$index}
          background-color: var(--color-#{$key}-l#{$index}) !important

        &-d#{$index}
          background-color: var(--color-#{$key}-d#{$index}) !important
          color: var(--color-white)


  //---------------------------
  //::::  Standard colors  ::::
  //---------------------------
  @each $item in $standard-colors
    $key: "" + nth($item, 1)
    $value: nth($item, 2)

    &-#{$key}
      background-color: var(--color-#{$key}) !important


  //----------------------------
  //::::  Full tone colors  ::::
  //----------------------------
  @each $item in $tone-colors
    $key: "" + nth($item, 1)
    $value: nth($item, 2)

    &-#{$key}
      background-color: var(--color-#{$key}) !important

      @for $index from 1 through 6
        &-l#{$index}
          background-color: var(--color-#{$key}-l#{$index}) !important

      @for $index from 1 through 12
        &-d#{$index}
          background-color: var(--color-#{$key}-d#{$index}) !important
          color: var(--color-white)


  //--------------------------
  //::::  Palette colors  ::::
  //--------------------------
  @each $item in $palette-colors
    $key: "" + nth($item, 1)

    &-#{$key}
      background-color: var(--color-#{$key}) !important

//----------------------------------------------------------------
//::::::::::::::::::::::::      </>       ::::::::::::::::::::::::
//----------------------------------------------------------------
