//----------------------------------------------------------------
//::::::::::::::::::::::::    SPACING     ::::::::::::::::::::::::
//----------------------------------------------------------------

//------------------------------
//::::  Margin and padding  ::::
//------------------------------
@each $item in $spacers
  $key: nth($item, 1)
  $value: var(--spacing-#{$key})

  @each $attr in (m: "margin", p: "padding")
    $prefix: nth($attr, 1)
    $sufix: #{$key}
    $attribute: nth($attr, 2)

    //---------------------------------
    //::::  All, top and vertical  ::::
    //---------------------------------
    .#{$prefix}-#{$sufix}, .#{$prefix}t-#{$sufix}, .#{$prefix}y-#{$sufix}
      #{$attribute}-top : $value !important

    //------------------------------------
    //::::  All, bottom and vertical  ::::
    //------------------------------------
    .#{$prefix}-#{$sufix}, .#{$prefix}b-#{$sufix}, .#{$prefix}y-#{$sufix}
      #{$attribute}-bottom: $value !important

    //------------------------------------
    //::::  All, left and horizontal  ::::
    //------------------------------------
    .#{$prefix}-#{$sufix}, .#{$prefix}l-#{$sufix}, .#{$prefix}x-#{$sufix}
      #{$attribute}-left: $value !important

    //-------------------------------------
    //::::  All, right and horizontal  ::::
    //-------------------------------------
    .#{$prefix}-#{$sufix}, .#{$prefix}r-#{$sufix}, .#{$prefix}x-#{$sufix}
      #{$attribute}-right: $value !important


//-----------------------------------------
//::::  Responsive margin and padding  ::::
//-----------------------------------------
@each $breakpoint in $breakpoints
  $bp: nth($breakpoint, 1)

  @media only screen and (min-width: nth($breakpoint, 2))
    @each $item in $spacers
      $key: nth($item, 1)
      $value: var(--spacing-#{$key})

      @each $attr in (m: "margin", p: "padding")
        $prefix: nth($attr, 1)
        $sufix: #{$bp}-#{$key}
        $attribute: nth($attr, 2)

        //---------------------------------
        //::::  All, top and vertical  ::::
        //---------------------------------
        .#{$prefix}-#{$sufix}, .#{$prefix}t-#{$sufix}, .#{$prefix}y-#{$sufix}
          #{$attribute}-top : $value !important

        //------------------------------------
        //::::  All, bottom and vertical  ::::
        //------------------------------------
        .#{$prefix}-#{$sufix}, .#{$prefix}b-#{$sufix}, .#{$prefix}y-#{$sufix}
          #{$attribute}-bottom: $value !important

        //------------------------------------
        //::::  All, left and horizontal  ::::
        //------------------------------------
        .#{$prefix}-#{$sufix}, .#{$prefix}l-#{$sufix}, .#{$prefix}x-#{$sufix}
          #{$attribute}-left: $value !important

        //-------------------------------------
        //::::  All, right and horizontal  ::::
        //-------------------------------------
        .#{$prefix}-#{$sufix}, .#{$prefix}r-#{$sufix}, .#{$prefix}x-#{$sufix}
          #{$attribute}-right: $value !important

//----------------------------------------------------------------
//::::::::::::::::::::::::      </>       ::::::::::::::::::::::::
//----------------------------------------------------------------
